<p id="notice"><%= notice %></p>
<div class="card container text-center">


  <h1 class="display-4"> Listings#Index</h1>
<hr>
<br>
<h1 class="display-4"> <%#= @seller.email + "'s "%> My Listings</h1>
<hr>

<%= link_to 'Add New Listing', new_seller_listing_path(@seller), class:"btn-success btn-block btn-lg" %>

<hr>
  <% @listings.each do |listing| %>
      <div class="card">
        <br>
        <%= listing.full_street_address %>
        <br>
        <%= listing.description %>
        <br>
        <%= listing.longitude %>, <%= listing.latitude %>

        <br>
        <div>
        <%= link_to 'Show', listing %>
        <%= link_to 'Edit', edit_listing_path(listing) %>
        <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
        <br>
        </div>
      </div>

  <% end %>
  <br>


<hr>
<div class="tex">
<%= link_to 'Back', :back, class:"btn btn-primary" %>
</div>
<br>

</div>
