<div class="card container">

<p id="notice"><%= notice %></p>

<div class="display-4 text-center"> Listing </div>
<hr>
<div class="text-center">
<%= link_to 'Edit Listing', edit_listing_path(@listing), class:"btn btn-outline-secondary btn-sm" %>
<hr>


<p>
  <strong>Address:</strong>

  <%= @listing.full_street_address %>

  <!-- <p>
    <strong>Latitude:</strong>
    <%= @listing.latitude %>
  <br>
    <strong>Longitude:</strong>
    <%= @listing.longitude %>
  </p> -->



  <!-- <%= @listing.address %>

  <%= @listing.city %>

  <%= @listing.state %>

  <%= @listing.zip %> -->
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<div id="map"></div>

<script>
var lat = <%= @listing.lat %>;
var lng = <%= @listing.lng %>;

// Initialize and add the map
function initMap() {
// The location of Uluru
var uluru = {lat, lng};
// The map, centered at Uluru
var map = new google.maps.Map(
  document.getElementById('map'), {zoom: 16, center: uluru});
// The marker, positioned at Uluru
var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUrlQaMPYAMf2W6vaHFF7ufv-Bp6A7dZo&callback=initMap">
</script>

<br>
<hr>
<div class="text-center">
<%= link_to 'Back', :back, class:"btn btn-primary" %>
</div>
<br>

</div>
