<p id="notice"><%= notice %></p>


<%= current_buyer.email %>


<p>
  <strong>Email:</strong>
  <%= @buyer.email %>
</p>

<%= link_to 'Edit', edit_buyer_path(@buyer) %> |
<%= link_to 'Back', buyers_path %>
