<nav class="navbar navbar-expand-lg navbar-light bg-faded">
  <a class="navbar-brand" href="/">RealEstateMapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <div class="navbar-nav">

      <% if current_buyer %>

      <%= link_to "Welcome #{current_buyer.email}", buyer_path(current_buyer), class:"nav-item nav-link" %>

      <%= link_to 'Home', buyer_path(current_buyer), class:"nav-item nav-link" %>

      <%= link_to "Listings", listings_path, class:"nav-item nav-link"%>


      <li class="nav-item">
        <a class="nav-link" href="/buyer_logout"> Logout </a>
      </li>

      <% elsif current_seller %>

      <%= link_to "Welcome #{current_seller.email}", seller_path(current_seller), class:"nav-item nav-link" %>

      <%= link_to 'Home', seller_path(current_seller), class:"nav-item nav-link" %>

      <%= link_to "Listings", listings_path, class:"nav-item nav-link"%>

      <%= link_to 'Directions', directions_path, class:"nav-item nav-link" %>


      <%= link_to 'Account Settings', edit_seller_path(current_seller), class:"nav-item nav-link" %>

      <li class="nav-item">
        <a class="nav-link" href="/seller_logout"> Logout </a>
      </li>

      <% else %>

      <%= link_to 'Home', root_url, class:"nav-item nav-link" %>

      <%= link_to "Listings", listings_path, class:"nav-item nav-link"%>


      <%= link_to 'About', about_path, class:"nav-item nav-link" %>



      <!-- <li class="nav-item">
        <%= link_to 'Buyer Login', '/buyer_login', class:"nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'Buyer Signup', '/buyer_signup', class:"nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'Seller Login', '/seller_login', class:"nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'Seller Signup', '/seller_signup', class:"nav-link" %>
      </li> -->

      <% end %>


    </div>
  </div>
</nav>
